@import url('https://fonts.googleapis.com/css?family=Lato&display=swap%22');

/*header style*/
*
{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header
{
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1% 0;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family:  'Lato',arial, sans-serif;
    font-size:14px ;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);

}
/*header logo style*/
.header__logo
{
    
    display: flex;
    align-items: flex-start;
    margin-right:auto;
    margin-left: 5.5%;
}
.logo-link
{
    text-decoration: none;
    color:#444;
}
span
{

    position: absolute;
    padding-top: 10px;
    padding-inline-start: 10px;

}

/*nav style */
nav
{ 
    position: relative;
    margin-right: 100px;
}
li a 
{
    color:#444;
    text-decoration: none;
}
.nav__list
{
    list-style: none;
}
.nav__list li
{
    display: inline-block;
    margin-left: 25px;
    padding-left: 13px;
    padding-right: 3px;
}
div.nav
{
    display: flex;
}
nav a:hover 
{
    color: #56bc94;
}

/************************************************************************************/
.header i, .bars {
    display: none;
  }
@media (max-width:51em) {
    .header {
        flex-direction: column;
    }
    .header__nav-menu {
        display: none;
    }    
    .header__nav-menu ul {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }      

    .nav__list li
{
    margin-left: -50%;
    margin-bottom: 14%;
    margin-top: 14%;
}

.header__logo
{
    margin-left: 3%;
}
    .bars {
        display: block;
        position: absolute;
        right: 25px;
        top: 17px;
        width: 55px;
        height: 40px;
        align-self: center;
        opacity: 0;
        cursor: pointer;
        z-index: 1;
    }
    .header i {    
        display: block; 
        position: absolute;
        color: rgb(187, 180, 180);
        right: 25px;
        top: 17px;
        padding: 5px 15px;
        font-size: 35px;
        text-align: center;
        border-radius: 3px;
        border: rgb(207, 207, 207) 0.5px solid;
        align-self: center;  
    }
    .fal
    {
        font-family: 'FontAwesome';
    }
}
.header .bars:checked ~ .header__nav-menu  {
    display: flex;
    flex-direction: column;
}
  .header .bars:checked ~ .header__nav-menu  a {
      display: flex;
    flex-direction: column;
    color: #444;
  }
  .header .bars:checked ~ .header__nav-menu  a:hover {
    color: #56bc94;
  }